<!-- <p>relevantes works!</p> -->
<h1 style="text-align: center">Noticias relevantes</h1>

<div class="">
  <p class="estiloLetra">
    En una carta de investigación publicada en JAMA Network el 4 de agosto de
    2020, el análisis del número de nuevos diagnósticos de cáncer cayó un 46,4 %
    durante el período de la pandemia del 1 de marzo al 18 de abril de 2020, en
    comparación con los datos históricos basales. El estudio incluyó a pacientes
    de los EE. UU. que se realizaron pruebas en Quest Diagnostics por cualquier
    causa para las que el médico solicitante asignó un código ICD–10 asociado a
    alguno de los seis tipos de cáncer habituales (mamario, colorrectal,
    pulmonar, pancreático, gástrico y esofágico). La mayor parte de la
    disminución de los nuevos diagnósticos de cáncer se produjo en los cánceres
    de mama y colorrectal, que son diagnósticos realizados más frecuentemente
    por cribado. Los resultados reflejan hallazgos de otros países, que también
    han visto un descenso de hasta el 40 % en la incidencia semanal de cáncer y
    un descenso del 75 % en las derivaciones por sospecha de cáncer, desde que
    se implementaron las restricciones por la COVID-19. La carta señala que el
    cáncer no se toma una pausa y que el retraso en el diagnóstico probablemente
    provocará la aparición de casos de cáncer en estadios más avanzados,
    posiblemente con peores resultados clínicos. El artículo hizo referencia a
    un estudio que sugirió un aumento potencial de 33 890 muertes en exceso por
    cáncer en los Estados Unidos, y recomienda una planificación urgente para
    abordar las consecuencias de los diagnósticos tardíos
  </p>
  <p class="estiloLetra">
    En un artículo de Science Magazine, publicado en línea el 29 de julio de
    2020, se informó acerca de un estudio publicado como preimpresión en la
    revista Nature que mostró que las personas sanas poseen células inmunitarias
    capaces de reconocer el nuevo coronavirus SARS-CoV-2. Los investigadores
    sugirieron que esta reactividad cruzada se debe a la exposición previa a los
    coronavirus del “resfriado común”, y que puede desempeñar un papel en el
    espectro de la gravedad de los síntomas en la pandemia. Se expusieron los
    linfocitos T cooperadores de individuos sanos sin exposición conocida a la
    COVID-19 a fragmentos de la proteína de la espícula del SARS-CoV-2. En el 35
    % de los individuos sanos, los linfocitos T cooperadores de memoria fueron
    capaces de reconocer los fragmentos de SARS-CoV-2. El artículo analiza la
    información general sobre la respuesta inmunitaria del organismo, las
    implicaciones de los resultados del estudio y los planes futuros de los
    investigadores para estudiar con mayor profundidad cómo el rango de factores
    inmunológicos se correlaciona con los síntomas.
  </p>
  <p class="estiloLetra">
    En una correspondencia publicada en The New England Journal of Medicine,
    investigadores de la David Geffen School of Medicine de la University of
    California informaron acerca de un pequeño estudio realizado con 31
    participantes que se recuperaron de COVID-19 leve y a quienes se les
    cuantificaron los niveles de anticuerpos contra el virus SARS-CoV-2. Las
    mediciones mostraron una disminución rápida de los anticuerpos
    anti-SARS-CoV-2. Los autores observaron que un estudio reciente había
    sugerido una disminución rápida de estos anticuerpos, pero la tasa no se
    describió en detalle. En el estudio actual, el primer nivel de anticuerpos
    se obtuvo 37 días después de la aparición de los síntomas (rango: de 18 a
    65), y la última medición se obtuvo 86 días después de la aparición de los
    síntomas (rango: de 44 a 119). La disminución media del nivel de anticuerpos
    sugirió una semivida de aproximadamente 36 días durante el período de
    observación. Los autores concluyeron que la disminución temprana de
    anticuerpos después de la exposición viral aguda plantea la inquietud de que
    la inmunidad humoral contra el SARS-CoV-2 puede no ser duradera en personas
    con enfermedad leve. Plantearon inquietudes acerca de los pasaportes de
    inmunidad basados en los anticuerpos, la inmunidad de rebaño y, quizás, la
    durabilidad de la vacuna a la luz de sus hallazgos y lo que ya se conoce
    sobre los coronavirus humanos habituales.
  </p>
</div>

<div class="row">
  <mat-card class="example-card ml-5 mt-5" style="margin-left: 13% !important">
    <img
      mat-card-image
      src="../../../assets/img/logocovid.png"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="margin-left: 11% !important">
    <img
      mat-card-image
      src="../../../assets/img/logo2.png"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting. The
        Shiba Inu is the smallest of the six original and distinct spitz breeds
        of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="margin-left: 10% !important">
    <img
      mat-card-image
      src="../../../assets/img/logo3.png"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>
