<app-navbar></app-navbar>


<mat-drawer-container class="example-container" style="overflow-x: hidden !important;">
  <mat-drawer mode="side" opened style="width: 7%; overflow-x: hidden !important; ">
    <h1>Menu principal</h1>
    <mat-list role="list">
      <mat-list-item [routerLink]="['/relevantes']" style="cursor: pointer;" role="listitem">Relevantes</mat-list-item>
      <mat-list-item  [routerLink]="['/countries']"  style="cursor: pointer;" role="listitem">Paises</mat-list-item>
      <mat-list-item  [routerLink]="['/sumary']"  style="cursor: pointer;" role="listitem">Total y nuevos casos</mat-list-item>
      <!-- <mat-list-item role="listitem">Estadist</mat-list-item> -->
    </mat-list>
  </mat-drawer>
  <mat-drawer-content style="margin-left: 5%; overflow-x: hidden !important;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

